{% extends "base/base.twig" %}
{% block content %}
  <div class="content">
    <div class="container-fluid">
      <div class="row">
        <div class="col-md-12">
          <div class="card">
            <div class="header">
              <h4 class="title">Wat is dit?</h4>
              <p class="category">Scouting web apps</p>
            </div>
            <div class="content">
              <p>
                Op deze website kunt U een bestaande lijst met opkomst ideeën gebruiken <br>
                om een planning te maken voor de volgende periode van het scouting seizoen.
              </p>
              <p>
                Maak een lijst aan en vul hier opkomst ideeën in of gebruik een bestaande lijst. <br>
                Geef aan de periode die u wilt vullen.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
{% endblock %}
